body {
    background: #11161f;
}
.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

.bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-page-section-1 {
    margin-top: 32px;
}

.section-1 {
    margin-top: 109px;
}


.bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.image-page-2-size {
    width: 90%;
    margin-top: -372px;
    margin-left: 390px;;
}

.image-page-3-size {
    width: 100%;
    margin-top: 150px;
    margin-left: 0px;
}


.text-topic {
    color: #fff;
    font-size: 50px;
    margin-top: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}
.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-left: 180px;
}

.text-summary {
    margin-left: 115px;
}

.section-2 {
    margin-top: 190px;
}

.text-section-2-line1 {
    margin-top: 40px;
}

.text-section-2-line2 {
    margin-top: 31px;
}

.text-section-2-line3 {
    margin-top: 31px;
}


.bg-section-3 {
    background-image: url(../images/section-3/bg-section-3.svg);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -128px;
}

.text-page-3 {
    color: #fff;
}

.group-text-page-3 {
    margin-left: 770px;
    margin-top: -365px;
}


.bg-section-4-2 {
    background-image: url(../images/section-4/bg-1or2.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-4-3 {
    background-image: url(../images/section-4/bg-3.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-under-topic-about{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.hr-custom-about {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-top: 88px;
    margin-left: 0;
  }

  .bg-section-5 {
    background-image: url("../images/footer.png");
    z-index: 1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  
  .text-footer {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .image-page-4-size-button {
    width: 15%;
    margin-top: -75px;
    position: absolute;
    margin-left: 765px;
    z-index: 1;
  }

  .image-page-2-size-button {
    width: 30%;
    margin-top: 73px;
    position: absolute;
    margin-left: 225px;
    z-index: 1;
  }


  
@media (max-width: 1550px) {
    .image-page-2-size {
        width: 85%;
        margin-top: -370px;
        margin-left: 365px;
    }

    .image-page-3-size {
        width: 90%;
        margin-top: 150px;
        margin-left: 0px;
    }

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }

    .bg-section-3 {
        margin-top: -80px;
    }

    .group-text-page-3 {
        margin-left: 680px;
        margin-top: -365px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 765px;
        z-index: 1;
    }
}

@media (max-width: 1440px) {
    .image-page-2-size {
        width: 70%;
        margin-top: -360px;
        margin-left: 370px;
    }
    

    .image-page-3-size {
        width:80%;
        margin-top: 150px;
        margin-left: 0px;
    }

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }

    .group-text-page-3 {
        margin-left: 600px;
        margin-top: -330px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 765px;
        z-index: 1;
    }

    .image-page-2-size-button {
        width: 25%;
        margin-top: 10px;
        position: absolute;
        margin-left: 225px;
        z-index: 1;
    }


}


@media (max-width: 1199.98px) {

    .text-topic {
        font-size: 40px;
    }

    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #8F979E;
    }
    .text-section-1-right {
        margin-top: -15px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -265px;
        margin-left: 345px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 150px;
        margin-left: -15px;
    }

    .group-text-page-3 {
        margin-left: 580px;
        margin-top: -320px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 650px;
        z-index: 1;
    }

}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    .text-under-topic-about {
        font-size: 12px;
    }

    .text-page-3 {
        font-size: 12px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -405px;
        margin-left: 285px;
    }

    .image-page-3-size {
        width: 70%;
        margin-top: 150px;
        margin-left: -15px;
    }

    .text-topic {
        font-size: 30px;
    } 

    .section-2 {
        margin-top: 10px;
    }

    .text-summary {
        margin-left: 360px;
        margin-top:10px;
    }

    .hr-custom-summary {
        margin-left: 468px;
    }

    .group-text-page-3 {
        margin-left: 470px;
        margin-top: -275px;
    }

    .hr-custom-about {
        margin-top: 20px;
    }
    .group-text-section-4 {
        margin-top: -50px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 175px;
        margin-bottom: 30px;
        position: unset;
    }

    .image-page-2-size-button {
        width: 30%;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 30px;
        position: unset;
    }
}

@media (max-width: 768px) {
    .text-topic {
        font-size: 30px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -196px;
        margin-left: 265px;
    }
    .text-under-name-section-1 {
        font-size: 16px;
    }

    .group-text-page-3 {
        margin-left: 450px;
        margin-top: -165px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -490px;
        margin-left: 225px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 90px;
        margin-left: 0px;
    }

    .text-topic {
        font-size: 25px;
    } 

    .text-summary {
        margin-left: 255px;
        margin-top: -90px;
    }

    .hr-custom-summary {
        margin-left: 350px;
    }

    .bg-section-3 {
        margin-top: -50px;
    }
    .section-1 {
        margin-top: 30px;
    }

    .group-text-page-3 {
        margin-left: 0px;
        margin-top: 45px;
    }
}

@media (max-width: 575.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    #Group_1 {
        width: 70%;
    }

    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 80%;
        margin-top: 15px;
        margin-left: 40px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 90px;
        margin-left: 70px;
    }

    .text-summary {
        margin-top: 10px;
    }

    .bg-section-3 {
        margin-top: -30px;
    }

    .footer {
        margin-top: 30px;
      }
      .text-footer {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 8px !important;
      }

      .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .image-page-2-size-button {
        width: 50%;
        margin-top: 0px;
        margin-left: 100px;
        margin-bottom: 30px;
    }
}


@media (max-width: 460px) {
    .text-topic {
        font-size: 18px;
    }
    .image-page-2-size {
        width: 80%;
        margin-top: 15px;
        margin-left: 40px;
    }

    .text-summary {
        margin-left: 160px;
    }

    .hr-custom-summary {
        margin-left: 235px;
    }

    .section-1 {
        margin-top: 30px;
    }

}

@media (max-width: 430px) {


}



@media (max-width: 340px) {
    .text-topic {
        font-size: 20px;
    }
    .image-page-2-size {
        width: 85%;
        margin-top: 15px;
        margin-left: 10px;
    }

    .image-page-3-size {
        margin-left: 35px;
    }

    
    .text-summary {
        margin-left: 70px;
    }

    .hr-custom-summary {
        margin-left: 145px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -830px;
        margin-left: 290px;
    }

    .image-page-4-size-button {
        width: 70%;
        margin-top: -65px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    .image-page-2-size-button {
        width: 80%;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 0px;
    }

}